.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.border {
  border: 1px solid white;
}

.playerDetailGrid {
  display: grid;
  grid-template-columns: repeat(2,45vw);
  grid-template-rows: repeat(8,1fr);
}

.playerImgGrid {
  grid-row: span 2;
}

.playerStatRow {
  grid-column: span 2;
}

.playerAttackRow {
  grid-row: span 3;
}

.playerAttrCol {
  grid-row:  span 4
}

.playerFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playerFlexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

