.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.border {
  border: 1px solid white;
}

.playerDetailGrid {
  display: grid;
  grid-template-columns: repeat(4,22vw);
  grid-template-areas:
    "img img main main"
    "hp hp save save"
    "attr mod mod mod"
    "attr stat stat stat"
    "attack attack attack attack"
    "feat feat feat feat"
    "item item item item"
    "coin coin coin coin"
    "char char char char"
    "note note note note";
    gap: 10px;
}

.playerImgGrid {
  grid-area: img;
  justify-self: center;
}

.playerMainGrid {
  grid-area: main;
  grid-column: 3 / span 2;
}

.playerHpGrid {
  grid-area: hp;
}

.playerSaveGrid {
  grid-area: save;
}

.playerAttrGrid {
  grid-area: attr;
}

.playerModGrid {
  grid-area: mod;
}

.playerStatGrid {
  grid-area: stat;
}

.playerAttackGrid {
  grid-area: attack;
}

.playerFeatGrid {
  grid-area: feat;
}

.playerItemGrid {
  grid-area: item;
}

.playerCoinGrid {
  grid-area: coin;
}

.playerCharGrid {
  grid-area: char;
}

.playerNoteGrid {
  grid-area: note;
}

.playerFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playerFlexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

